<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ts3-bot</title>
  <link rel="icon" href="data:image/png;base64,">
</head>
<body>
  <nav>
    <ul id="menu">
      <li><a href="./dump">Dump</a></li>
      <li><a href="./snapshot">Snapshot</a></li>
    </ul>
  </nav>
  <p>server: {{.host}}</p>
</body>
</html>
